<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
      </head>
      <div class="hidden md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0" id="navbar-collapse">
        <a href="/" class="p-2 lg:px-4 md:mx-2 text-white-600 rounded hover:bg-gray-200 hover:text-white-700 transition-colors duration-300">Home</a>
        <a href="mail" class="p-2 lg:px-4 md:mx-2 text-white-600 rounded hover:bg-gray-200 hover:text-white-700 transition-colors duration-300">mail letter</a>
      </div>
    </div>
  </nav>
  <body class = "bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-center">
    <div class="flex justify-center"></div>
    <h1 class="text-black-600 text-4xl font-bold">
        STATS </h1>
        <br><br><br><br><br><br><br>
        {% for key,value in information.items %}
        <span class="shadow-2xl rounded-md p-10 inline-block align-baseline italic text-black-600 text-3xl font-bold max-w-6xl mx-auto">{{key}} - {{value}} quotes</span>
        <br><br><br>
        {% endfor %}